<!DOCTYPE html>
<html>
<head></head>
<body>



<table>
  <tr>
    <td>Bob</td>
    <td>Conor</td>
    <td>Bere></td>
</tr>

<tr>
  <td>Last Name</td>
  <td>lastname</td>
  <td>lastname</td>
</tr>

<tr>
  <td>Email</td>
  <td>Email</td>
  <td>Email</td>
</tr>

</table>

register as new user

<% input type = "text" placeholder="Register..." name = "registerhere" %>
<% button type = "click there"><i class ="fa fa-register"></i></button> %>


<% input type = "text" name="lastname" value="Mouse" %>
<br><br>
<% input type = "submit" value ="Submit" %>












</body>
</html>
