<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./style/style.css"  >
</head>
  <body>
    <div>

          <form action="/add" method="post" class="addusers">

            <p><h1>Create New User</h1></p>

           <input type="text" name="firstname" placeholder=""="firstname">

           <Last name:><br>

             <input type="text" name="lastname" placeholder="lastname">

             <br><br>

                  <input type = "text" placeholder="Register email" name = "registerhere" value="">

             <input type="submit" value="Submit">

           </form>

         </div>









            </form>
      </body>
</html>
