<!DOCTYPE html>
<html>
  <head>

<link rel="stylesheet" href="./style/style.css"  >

  </head>

    <body>
      <p class = "font">



      <% if (user) { %>

        <p>  <%= user.firstname %></p>
        <p>  <%= user.lastname %></p>
        <p>  <%= user.email %></p>
      }
      <% } %>

    </body>
  </html>
