<!DOCTYPE html>
<html>

<head><link rel="stylesheet" href="./style/style.css"></head>

<body>

<h1>Users</h1>

<!-- <p>First Name:</p> -->
<div class="center">
<br>
<form action="/users" method="post">
<input type = "text" placeholder="firstname" name = "firstname">
<br>
<input type = "text" name="lastname" value="Enterlastname">
<br>
<button type = "submit" value ="Submit" class="l">Clickme</button>
</form>
</div>


</body>
</html>
